@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
*{
  margin:0px;
  padding:0px;
  box-sizing: border-box;
}
:root{
  --color-text: #616161;
  --color-text-btn: #ffffff;
  --card1-gradient-color1: #f12711;
  --card1-gradient-color2: #f5af19;
  --card2-gradient-color1: #7F00FF;
  --card2-gradient-color2: #E100FF;
  --card3-gradient-color1: #3f2b96;
  --card3-gradient-color2: #a8c0ff;
  --card4-gradient-color1: #11998e;
  --card4-gradient-color2: #38ef7d;
}
body{
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(to right, #8e9eab, #eef2f3); 
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
.customcard-wrap{
   margin: 10px;
  width: 220px;
  height: 350px;
  background: #fff;
  border-radius: 20px;
  /* border: 5px solid #fff; */
  overflow: hidden;
  color: var(--color-text);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  cursor: pointer;
  transition: all .2s ease-in-out;
}
 .customcard-wrap:hover{
  /* transform: scale(1.1); */
  /* border: #E100FF; */
  } 

.customcard-header{
  height: 200px;
  width: 100%;
  background: red;
  border-radius:100% 0% 100% 0% / 0% 50% 50% 100%;
  display: grid;
  place-items: center;

}


.customcard-header i{
  color: #fff;
  font-size: 72px;
}
.customcard-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  margin: 0 auto;
}
.customcard-title{
  text-align: center;
  /* text-transform: uppercase; */
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 20px;

}
.customcard-text{
  text-align: center;
  font-size: 12px;
  margin-bottom: 20px;
}
.customcard-btn{
  border: none;
  border-radius: 100px;
  padding: 5px 30px;
  color: #fff;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.customcard-header.one{
  background: linear-gradient(to bottom left, var(--customcard1-gradient-color1), var(--customcard1-gradient-color2));
}
.customcard-header.two{
  background: linear-gradient(to bottom left, var(--customcard2-gradient-color1), var(--customcard2-gradient-color2));
}
.customcard-header.three{
  background: linear-gradient(to bottom left, var(--customcard3-gradient-color1), var(--card3-gradient-color2));
}
.card-header.four{
  background: linear-gradient(to bottom left, var(--card4-gradient-color1), var(--card4-gradient-color2));
}

.customcard-btn.four{
    width: 200px;
    height: 35px;
    cursor: pointer;
  background: linear-gradient(to left, var(--card4-gradient-color1), var(--card4-gradient-color2));
}

.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
